<h1 style="display:inline">AFC</h1><br>

<h3 class="division">East</h3><br>
<% @teams.by_division("AFC", "East").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">North</h3><br>
<% @teams.by_division("AFC", "North").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">South</h3><br>
<% @teams.by_division("AFC", "South").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">West</h3><br>
<% @teams.by_division("AFC", "West").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h1 style="display:inline">NFC</h1><br>

<h3 class="division">East</h3><br>
<% @teams.by_division("NFC", "East").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">North</h3><br>
<% @teams.by_division("NFC", "North").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">South</h3><br>
<% @teams.by_division("NFC", "South").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>

<br><h3 class="division">West</h3><br>
<% @teams.by_division("NFC", "West").each do |team| %>
    <%= link_to team.full_name, user_path(team.user_id) %><br>
<% end %>