<h1 style="display:inline;color:navy"><%= @user.name %>'s Team</h1>
<p style="display:inline;font-size:12px"><%= link_to "(Edit Profile)", edit_user_path(@user) if @user == current_user %></p><br>
<p style="display:inline"><%= mail_to @user.email %></p><br><br><br>
<% if @team %>
    <h2 style="display:inline;color:navy"><%= @team.city + " " + @team.name %></h2>
    <p style="display:inline;font-size:12px"><%= link_to "(Edit Team)", edit_team_path(@team) if @user == current_user %></p><br>
    <% @players.sort_position.each do |player| %>
        <% if player.not_defense %>
            <%= player.position %> 
            <%= link_to "#{player.first_name} #{player.last_name}", player.espn_page, target: :blank %><br>
        <% else %>
            <%= "#{player.position} #{player.first_name} #{player.last_name}" %><br>
        <% end %>
    <% end %>
<% else %>
    <h2><%= link_to "Create Team", new_user_team_path(@user) %></h2>
<% end %>
<br><br>
<% if @user == current_user %>
    <%= link_to "Add Players", free_agents_path if @team %><br><br><br>
    <%= link_to "Delete Team", team_path(@team), method: "delete", data: { confirm: 'Are you certain you want to delete this team?' } if @team %>
<% end %>