<h2>Add Free Agents</h2>
<%= form_tag("/players", method: "post") do %>
        <% @players.each do |player| %>
                <%= check_box_tag "free_agents[]", player.id %>
                <%= player.position + " " + player.last_name + ", " + player.first_name %><br>
        <% end %>
        <br>
    <%= submit_tag "Add player(s) to #{@team.name}" if @team %>
<% end %>
<br>
<%= link_to "Create Player", new_player_path if current_user.email == "barosengarten@gmail.com"  %>