<h1>All Players</h1>

<table>   
   <tbody>
      <% @players.each do |player| %>
         <tr>
            <% if player.not_defense %>
               <td style="padding: 0 15px 0 0"><%= link_to player.last_name + ", " + player.first_name, edit_player_path(player) if current_user.email == "barosengarten@gmail.com" %></td>
               <td style="padding: 0 15px 0 0"><%= link_to player.last_name + ", " + player.first_name, player_path(player) if current_user.email != "barosengarten@gmail.com" %></td>
            <% else %>
               <td style="padding: 0 15px 0 0"><%= link_to player.first_name + " " + player.last_name, edit_player_path(player) if current_user.email == "barosengarten@gmail.com" %></td>
               <td style="padding: 0 15px 0 0"><%= player.first_name + " " + player.last_name if current_user.email != "barosengarten@gmail.com" %></td>
            <% end %>
            <td style="padding: 0 35px 0 0"><%= player.position %></td>
            <% if player.team_id == 0 %>
                  <td style="padding: 0 10px 0 0"><%= link_to "Free Agent", free_agents_path %></td>
               <% else %>
                  <td style="padding: 0 10px 0 0"><%= link_to player.team.full_name, user_path(player.user) %></td>
            <% end %>
            <% if player.not_defense %>
               <td><a style="padding: 0 10px 0 0; font-size:11px" href="#" class="js-view-player" data-id="<%=player.id%>">View Player</a></td>
            <% else %>
               <td></td>
            <% end %>
            <% if player.team_id != 0 %>
               <td><a style="font-size:11px" href="#" class="js-view-team" data-id="<%=player.team.user_id%>">View Team</a></td>
            <% end %>
         </tr>
      <% end %>
   </tbody>
</table>
<br><br>
<div id="player-team-info"></div>
<br><br>
<%= link_to "Create Player", new_player_path if current_user.email == "barosengarten@gmail.com" %>