<div id="player-page">
    <h2><%= @player.full_name %></h2>
    <p>Position: <%= @player.position %></p>
    <p><%= link_to @player.team.full_name, user_path(@player.user) %></p>
    <p><%= link_to "ESPN Player Page", @player.espn_page, target: :blank %></p>
</div>
<br>
<button id="js-next-player" data-id="<%=@player.id%>">Next Player</button>