<!DOCTYPE html>
<html>
  <head>
    <title>FantasyFootballLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
        <nav>
        <% if current_user %>
          <%= link_to "My Page", user_path(current_user) %> |
          <%= link_to "Teams", teams_path %> |
          <%= link_to "Free Agents", free_agents_path %> |
          <%= link_to "All Players", players_path %> |
          <%= link_to "All Users", users_path, id: "view-users" %> |
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %> |
          <%= link_to "Log In", login_path %>
        <% end %>
     </nav>
    <br>
    <% if flash[:alert] %>
      <strong><font style="color:red"><%= flash[:alert] %></font></strong><br><br>
    <% end %>
      <% if flash[:notice] %>
      <font style="color:green"><%= flash[:notice] %></font><br><br>
    <% end %>

    <div id="page-content-container">
      <%= yield %>
    </div>
  </body>
</html>